doctype html
html

  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    title Home Page
  body
    .container
      header
        h1 Cyph3r
      include navigation.pug
      main
        p#home-message
          | Welome to
          b Cyph3r
          | ! Want to send a secret message?
          |      Use one of the cypher tools on the left to
          |      encrypt a message!
        br
        p#home-message
          | If you are already a registered member login below. Not a member?
          | Sign up by heading to Registration page.
        form#reg_form
          label Username :
          input(type='text', placeholder='Enter Email', name='email', required='')
          label Password :
          input(type='password', placeholder='Enter Password', name='psw', required='')
          button(type='button', name='button', onclick='clear()') Login
      footer an amalik production
