doctype html
html
  script(type='text/javascript', src='/javascripts/logic.js')
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    title ROT13
  body(onload='userViews()')
    .container
      header
        h1 Cyph3r
      include navigation.pug
      main
        p#info_text
          b MESSENGER
        form#basic_form(method='post', action='/messenger')
          label To :
          input(type='text', placeholder='Enter your name', name='rec_username', required='')
          label Message :
          textarea(rows='5', cols='60', required='', name='message' )
          select#cipherSelect(name='chooseCipher')
           option(value='raw') RAW
           option(value='morse') MORSE
           option(value='vigenere') VIGENERE
           option(value='rot13') ROT13
          input.btn.btn-primary(type='submit', name='submit',value ='Send')
      footer an amalik production
    script(type='text/javascript', src='/javascripts/rot13.js')
