nav
  a(href='/') HOME
  a(href='/rot13') ROT13
  a(href='/morse') MORSE CODE
  a(href='/vigenere') VIGENERE
  a(href='/register') REGISTER
  a#messengerOption(href='/messenger') MESSENGER
  a#logoutOption(href='/messenger') LOGOUT
