doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    title REGISTRATION
  body
    .container
      header
        h1 Cyph3r
      include navigation.pug
      main
        p#info_text
          b REGISTER
          |  an account so you can send and receive
          |    encrypted messages!
        form#reg_form(method='post', action='register.html')
          label Name :
          input(type='text', placeholder='Enter your name', name='name', required='')
          label Username :
          input(type='text', placeholder='Enter a username', name='username', required='')
          label Password :
          input(type='password', placeholder='Enter a password', name='psw', required='')
          label Confirm Password :
          input(type='password', placeholder='Repeat Password', name='confpsw', required='')
          button(type='button', name='button', onclick='clear()') Register Me
      footer an amalik production
    script(type='text/javascript', src='')
